body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.main-header {
	padding: 20px;
}

.menu-item {
	font-size: 50px;
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 30px;
}

.personal-info-container {
	padding: 20px;
	border: 1px solid grey;
}

.details-object {
	width: 50%;
	margin: 20px 0px;
	display: flex;
}

.contact-details-container {
	text-align: left;
	padding: 20px;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	overflow-x: auto;
}

.small-title {
	font-weight: bold;
	width: 30%;
}

table {
	width: 100%;
	border: 1px solid grey;
	border-collapse: collapse;
}

th,
td {
	padding: 20px;
	border-bottom: 1px solid grey;
}

.search-item {
	padding: 20px;
	margin: 20px 0px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

a {
	text-decoration: none !important;
	color: inherit;
}

.dropbtn {
	background-color: #3498db;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
	background-color: #2980b9;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown {
	position: relative;
	display: inline-block;
	margin: 20px 0px;
	margin-right: 10px;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	text-align: left;
	min-width: 160px;
	overflow: auto;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content .radiobtn {
	color: black;
	padding: 12px 5px;
}

.search-img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.left-navbar {
	transition: 0.5s;
	width: 0;
	background-color: black;
	height: 100%;
	position: fixed;
	overflow-x: hidden;
	padding-top: 60px;
	z-index: 1;
	top: 0;
	left: 0;
}

.left-navbar a {
	padding: 8px 8px 8px 32px;
	text-decoration: none !important;
	font-size: 25px;
	color: white;
	font-weight: bold;
	display: block;
	white-space: nowrap;
}

.closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 50px;
	color: white;
	margin-left: 50px;
	cursor: pointer;
}

.left-navbar.active {
	/* transform: translateX(-80%); */
	width: 300px;
}

.contact-container {
	padding: 20px;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

.input-txt {
	padding: 10px;
	border: 1px solid #6b7280;
	width: 100%;
}

tr th {
	background-color: black;
	color: white;
}

.contact-container.active {
	margin-left: 20%;
}

.clear-filter {
	margin-left: auto;
}

@media (max-width: 750px) {
	.details-object {
		width: 100%;
	}

	.clear-filter {
		margin-left: 0;
	}
}
